name: verify
on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  # test-linux-cpu:
  #   runs-on: "linux.2xlarge"
  #   steps:
  #     - name: Print runner information
  #       run: cat /etc/os-release
  # test-linux-gpu:
  #   runs-on: "linux.8xlarge.nvidia.gpu"
  #   steps:
  #     - name: Print runner information
  #       run: cat /etc/os-release
  #     - name: Install nvidia-smi
  #       run: |
  #           sudo yum groupinstall -y "Development Tools"
  #           DRIVER_FN="NVIDIA-Linux-x86_64-460.39.run"
  #           wget "https://s3.amazonaws.com/ossci-linux/nvidia_driver/$DRIVER_FN"
  #           sudo /bin/bash "$DRIVER_FN" -s --no-drm || (sudo cat /var/log/nvidia-installer.log && false)
  #           nvidia-smi
  build-win-cpu:
    env:
      BUILD_ENVIRONMENT: "pytorch-win-vs2019-cpu-py3"
      SCCACHE_BUCKET: "ossci-compiler-cache"
      CUDA_VERSION: "cpu"
      PYTHON_VERSION: "3.6"
      VC_VERSION: ""
      VC_YEAR: "2019"
      VC_PRODUCT: "BuildTools"
      USE_CUDA: ""
      TORCH_CUDA_ARCH_LIST: "5.2;7.5"
      JOB_BASE_NAME: test
    runs-on: "windows.2xlarge"
    steps:
      - uses: actions/checkout@v2
      - name: Clone pytorch
        uses: actions/checkout@v2
        with:
          repository: 'pytorch/pytorch'
          ref: 'nightly'
          submodules: 'rescursive'
          path: 'pytorch'
      - name: Install Visual Studio 2019 toolchain
        run: |
          choco install vswhere -y
          .\pytorch\.circleci\scripts\vs_install.ps1
          choco install visualstudio2019-workload-vctools -y
      - name: Build
        shell: bash
        run: |
          cd pytorch && .jenkins/pytorch/win-build.sh
      - name: Archive artifacts
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: windows-cpu
          path: C:/w/build-results

  # test-win-gpu:
  #   runs-on: "windows.8xlarge.nvidia.gpu"
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: Print runner information
  #       run: (Get-WmiObject Win32_OperatingSystem).CSName
  #     - name: Print User name
  #       run: |
  #         [System.Security.Principal.WindowsIdentity]::GetCurrent().Name
  #     - name: Install Visual Studio
  #       run: |
  #         .\.github\scripts\install_vs.ps1
  #     - name: Install NVIDIA Dependencies
  #       run: |
  #         choco install cuda --version=10.1.243 -y
  #         choco install nvidia-display-driver -y
  #     - name: Print runner information
  #       run: nvidia-smi
